<!DOCTYPE html>
<html lang="es">
<head>
    <!-- META ETIQUETAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Visítanos, llámanos o envíanos un correo electrónico para cualquier consulta o información adicional. Estamos aquí para ayudarte y responder a tus preguntas a la mayor brevedad posible.">
    <meta name="keywords" content="móviles, accesorios, colgantes, auriculares, power banks, relojes, cargadores, altavoces, tienda online, viaje">
    <!-- TIPOGRAFÍAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- ICONOS -->
    <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/brands.css">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- TÍTULO -->
    <title>Contacto | MOBINEXIA</title>
</head>
<body>
    <!-- CABECERA -->
    <header>
        <div class="container">
            <h1>MOBINEXIA</h1>
        </div>
    </header>
    <!-- MENÚ DE NAVEGACIÓN -->
    <nav>
        <div class="container">
            <span><a href="../index.html">Inicio</a></span>
            <span><a href="productos.html">Productos</a></span>
            <span><a href="presupuesto.html">Presupuesto</a></span>
            <span class="active"><a href="contacto.html">Contacto</a></span>
        </div>
    </nav>
    <!-- CONTENIDO PRINCIPAL -->
    <section>
        <div class="container">
            <h2>CONTACTO</h2>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6109.860691836048!2d-5.743751099999999!3d40.032334549999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3e32c4e611dac7%3A0x9d2940cc427c6bc9!2sPol.%20Ind.%20del%20Pocito%2C%2010400%2C%20C%C3%A1ceres!5e0!3m2!1ses!2ses!4v1775805440480!5m2!1ses!2ses" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="datos">
                <p><span>Horario:</span> Lunes a sábado, 10:00-21:00</p>
                <p><span>Teléfono:</span> (+34) 927 87 80 76</p>
                <p><span>Correo electrónico:</span> info@ejemplo.com</p>
            </div>
        </div>
    </section>
    <!-- PIE DE PÁGINA -->
    <footer>
        <div class="container">
            <span class="rrss">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram fa-3x"></i></a>
                <a href="https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter fa-3x"></i></a>
            </span>
            <span class="direccion">Polígono industrial El Pocito<br>10400 Jaraíz de la Vera<br>Cáceres</span>
            <span class="avisoLegal"><a href="#" title="Aviso legal del sitio web">Aviso legal</a></span>
        </div>
    </footer>
</body>
</html>