<!DOCTYPE html>
<html lang="es">
<head>
    <!-- META ETIQUETAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contacta con nosotros para cualquier consulta o información adicional. Estamos aquí para ayudarte y responder a tus preguntas a la mayor brevedad posible.">
    <meta name="keywords" content="móviles, accesorios, colgantes, auriculares, power banks, relojes, cargadores, altavoces, tienda online, viaje">
    <!-- TIPOGRAFÍAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- ICONOS -->
    <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/brands.css">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- TÍTULO -->
    <title>Presupuesto | MOBINEXIA</title>
</head>
<body class="presupuesto">
    <!-- CABECERA -->
    <header>
        <div class="container">
            <h1>MOBINEXIA</h1>
        </div>
    </header>
    <!-- MENÚ DE NAVEGACIÓN -->
    <nav>
        <div class="container">
            <span><a href="../index.html">Inicio</a></span>
            <span><a href="productos.html">Productos</a></span>
            <span class="active"><a href="presupuesto.html">Presupuesto</a></span>
            <span><a href="contacto.html">Contacto</a></span>
        </div>
    </nav>
    <!-- CONTENIDO PRINCIPAL -->
    <section>
        <div class="container">
            <h2>FORMULARIO DE PRESUPUESTO</h2>
            <form action="presupuesto.html" method="post">
                <div>
                    <label for="nombre">Nombre: *</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div>
                    <label for="email">Email: *</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="telefono">Teléfono: *</label>
                    <input type="tel" id="telefono" name="telefono" required>
                </div>
                <div>
                    <label for="info">Solicite más información: *</label>
                    <textarea id="info" name="info" rows="5" required></textarea>
                </div>
                <div>
                    <input type="checkbox" id="politica" name="politica" value="Política aceptada" required>
                    <label for="politica">Acepto la <a href="#">política de privacidad</a>.</label>
                </div>
                <div>
                    <input type="submit" id="submit" name="submit">
                    <input type="reset" id="reset" name="reset">
                </div>
            </form>
        </div>
    </section>
    <!-- PIE DE PÁGINA -->
    <footer>
        <div class="container">
            <span class="rrss">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram fa-3x"></i></a>
                <a href="https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter fa-3x"></i></a>
            </span>
            <span class="direccion">Polígono industrial El Pocito<br>10400 Jaraíz de la Vera<br>Cáceres</span>
            <span class="avisoLegal"><a href="#" title="Aviso legal del sitio web">Aviso legal</a></span>
        </div>
    </footer>
</body>
</html>