<!DOCTYPE html>
<html lang="es">
<head>
    <!-- META ETIQUETAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descubre todos nuestros productos. Explora nuestra tienda online y encuentra los accesorios para móviles que necesitas. Compra ahora y prepárate para tu próximo viaje con nuestros accesorios imprescindibles.">
    <meta name="keywords" content="móviles, accesorios, colgantes, auriculares, power banks, relojes, cargadores, altavoces, tienda online, viaje">
    <!-- TIPOGRAFÍAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- ICONOS -->
    <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/brands.css">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- TÍTULO -->
    <title>Productos</title>
</head>
<body>
    <!-- CABECERA -->
    <header>
        <div class="container">
            <img src="" alt="" title="" class="logo">
            <h1>NOMBRE EMPRESA</h1>
        </div>
    </header>
    <!-- MENÚ DE NAVEGACIÓN -->
    <nav>
        <div class="container">
            <span><a href="../index.html">Inicio</a></span>
            <span class="active"><a href="productos.html">Productos</a></span>
            <span><a href="presupuesto.html">Presupuesto</a></span>
            <span><a href="contacto.html">Contacto</a></span>
        </div>
    </nav>
    <!-- CONTENIDO PRINCIPAL -->
    <section>
        <div class="container">
            <h2>NUESTROS PRODUCTOS</h2>
            <p>Descubre nuestra amplia gama de productos de calidad.</p>
            <div class="productos">
                <article>
                    <img src="../img/producto_1.jpg" alt="Pulverizador para limpiar pantallas" title="Pulverizador para limpiar pantallas">
                    <h3>Pulverizador</h3>
                    <p class="precio">2,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_2.jpg" alt="Identificador de maletas" title="Identificador de maletas">
                    <h3>Identificador de maletas</h3>
                    <p class="precio">3,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_3.jpg" alt="Imanes para soporte de coche" title="Imanes para soporte de coche">
                    <h3>Imanes para coche</h3>
                    <p class="precio">3,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_4.jpg" alt="Funda para pasaporte" title="Funda para pasaporte">
                    <h3>Funda para pasaporte</h3>
                    <p class="precio">4,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_5.jpg" alt="Soporte de móvil para mesa" title="Soporte de móvil para mesa">
                    <h3>Soporte para mesa</h3>
                    <p class="precio">5,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_6.jpg" alt="Smart band" title="Smart band">
                    <h3>Smart band</h3>
                    <p class="precio">9,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_7.jpg" alt="Cable de carga" title="Cable de carga">
                    <h3>Cable de carga</h3>
                    <p class="precio">14,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_8.jpg" alt="Tarjetero soporte compatible con magsafe" title="Tarjetero soporte compatible con magsafe">
                    <h3>Tarjetero soporte</h3>
                    <p class="precio">14,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_9.jpg" alt="Soporte lámpara led" title="Soporte lámpara led">
                    <h3>Soporte lámpara led</h3>
                    <p class="precio">19,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_10.jpg" alt="Altavoz Bluetooth" title="Altavoz Bluetooth">
                    <h3>Altavoz Bluetooth</h3>
                    <p class="precio">19,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_11.jpg" alt="Cargador de pared" title="Cargador de pared">
                    <h3>Cargador de pared</h3>
                    <p class="precio">19,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_12.jpg" alt="Bolso para móvil" title="Bolso para móvil">
                    <h3>Bolso para móvil</h3>
                    <p class="precio">19,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_13.jpg" alt="Altavoz Bluetooth karaoke para dos personas" title="Altavoz Bluetooth karaoke para dos personas">
                    <h3>Altavoz karaoke</h3>
                    <p class="precio">39,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_14.jpg" alt="Gimbal multifunción" title="Gimbal multifunción">
                    <h3>Gimbal multifunción</h3>
                    <p class="precio">49,99 €</p>
                </article>
                <article>
                    <img src="../img/producto_15.jpg" alt="Smartwatch" title="Smartwatch">
                    <h3>Smartwatch</h3>
                    <p class="precio">49,99 €</p>
                </article>
            </div>
        </div>
    </section>
    <!-- PIE DE PÁGINA -->
    <footer>
        <div class="container">
            <span class="rrss">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram fa-3x"></i></a>
                <a href="https://x.com/" target="_blank"><i class="fa-brands fa-square-x-twitter fa-3x"></i></a>
            </span>
            <span class="direccion">Polígono industrial El Pocito<br>10400 Jaraíz de la Vera<br>Cáceres</span>
            <span class="avisoLegal"><a href="#" title="Aviso legal del sitio web">Aviso legal</a></span>
        </div>
    </footer>
</body>
</html>
